/* styles.css */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}

.palindrome-container {
  text-align: center;
  margin-top: 100px;
}

input[type="text"] {
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-right: 10px;
  width: 200px;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.result {
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
  font-weight: 600;
  letter-spacing: 1px;
  text-align: center;
}

.what-is {
  max-width: 300px;
  margin: 10px auto;
  padding: 20px;
  background-color: #45a049;
  border-radius: 10px;
  color: #FFF;
}

.what-is p {
  font-size: 18px;
  line-height: 1.3;
}

.what-is a {
  text-decoration: none;
  color: inherit;
}

.hidden {
  display: none;
}